<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Computer Parts Wishlist</h1>
      <div class="login">
        <p> <% if(user) { %> 
                <a href="/logout" class="logout">Logout</a>
             <% } else { %>
                <a href="auth/google" class="login">Login with Google</a>
             <% } %>
        </p>
        <div class="myList">
           
        </div>



        <div class="image-preview">

        </div>
        
      </div>
    
  </body>
</html>
