<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Computer Parts Wishlist</h1>
      <div class="login">
        <p> <% if(user) { %> 
                <a href="/logout" class="logout" style="color:red">Logout</a>
             <% } else { %>
                <a href="auth/google" class="login" style="color:red">Login with Google</a>
             <% } %>
        </p>
      </div>
  </body>
</html>
