body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


div, form {
  display: inline;
}

h1 {
  position: fixed;
  top:          0;
  right:      50%;
  font-size: 22px;
}

h2 {
  top: 9%;
}

p {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 10px 0 0;
  font-size: 11px;
}

.login {
  top: 0;
  right: 0;
}

.myList {
  top: 0;
  left: 0;

}

.myParts {
  top:0;
  left: 0;
}

.col-table tr:nth-child(odd){
  background-color: #fff;
}

.col-table tr:nth-child(even) {
  background-color: #f1f1f1;
}

.col-table tr {
  border-bottom: 1px solid #ddd;
}

.col-table th:first-child,
.col-table td:first-child {
  padding-left: 16px;
}

