body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #bcc2c2;
}

a {
  color: #00B7FF;
}


div, form {
  display: inline;
}

h1 {
  font-size: 16px;
}

.header {
  position: fixed;
  top:          0;
  left:         0;
  border-left: thick solid #4834c9;
  
}

h2 {
  top: 9%;
}

p {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 10px 0 0;
  font-size: 11px;
}

.login {
  top: 0;
  right: 0;
}

.myList {
  top: 0;
  left: 0;

}

.myParts {
  top:0;
  left: 0;
}

#new-part {
  border-width: 5px;

}

.partFormNav {
}

.partForm {
  border-width: 10px;
}

.col-table tr:nth-child(odd){
  background-color: #4f93b8;
}

.col-table tr:nth-child(even) {
  background-color: #b9e3fa;
}

.col-table tr {
  border-bottom: 1px solid #ddd;
}

.col-table th:first-child,
.col-table td:first-child {
  padding-left: 16px;
}

