<%- include('../snippets/header') %>

    <div id="add-part-window">
        <form id="add-part" method="POST" action="list/<%= list._id %>/parts">
            <label>Part:</label>
            <textarea name="content"></textarea>
            <input type="text" id="name" placholder="Name of Part"></input>
            <input type="text" id="price" placholder="Price of Part"></input>
            <input type="text" id="url" placholder="Url of Part"></input>
            <input type="submit" value="Add Part">
        </form>
    </div>
</body>
</html>



