<%- include('../snippets/header') %>

    <div class="newListForm">
        <form id="newList" method="POST" action="/list">
            <label>What is the name of this new list?</label>
            <input type="text" name="name" placholder="Name of list"></input>
            <input type="submit" value="Create List">
        </form>            
    </div>
<%- include('../snippets/footer') %>

