<%- include('../snippets/header') %>

  <div class="myParts">
      <table>
          <thead>
            <h2>Current Parts</h2>
          </thead>
          <tbody>
            <% if(user) { %>
              <% if(list.parts) { %> 
                <% list.parts.forEach(function(l){ %>
                  <tr> 
                    <li><%= l.url %></li>
                    <li><%= l.name %></li>
                    <li><%= l.price %></li>
                  </tr>
                <% }); %>
                <% } %>
              <%  }; %>
          </tbody>
      </table>
  </div>

  <div class="card-action">
    <form id="new-part" action="/list/:id/parts" method="POST">
      <input type="text" name="name" placeholder="Name of Part">
      <input type="text" name="url" placeholder="Url of part">
      <input type="number" name="price" placeholder="Price of part">
      <input type="submit" value="Add Part">
    </form>
  </div>

        
</body>
</html>



